<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

</head>
<body>

<form method="POST" action="/pessoa/salvar" th:object="${pessoa}">
<input type="hidden" th:field="*{id}">

  <div class="form-group">
    <label for="exampleInputEmail1">Nome</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="nome">
    
  </div>
  
  <div class="form-group">
    <label for="exampleInputPassword1">Time</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="time">
  </div>
  
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



<script src="/js/bootstrap.min.js">  </script>
</body>
</html>